.main_header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: #4156a1;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-size: cover;
  margin-top: 7rem;

  @media screen and (min-width: 1300px) {
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
  }
}
.main_header img {
  height: auto;
  max-width: 250px;
  margin-top: 12rem;
}

.main_header h2 {
  margin-top: 10px;
  color: white;
  margin-bottom: 10rem;
}
