nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffff;
  padding: 0em 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav span {
  font-family: "Bungee", cursive;
}

.tweet_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 1px;
}

.tweet_icon a {
  line-height: 0;
}

.fa-angle-double-down:before,
.fa-angles-down:before {
  color: red;
}
