.new-tweet {
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 1000px;
  line-height: 3rem;
  margin: 2rem auto;
  font-family: "Source Sans 3", sans-serif;
}

.tweet-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.tweet-section label {
}

.tweet-section input {
  display: block;
  width: 100%;
}
.tweet-section textarea {
  display: block;
  width: 70%;
  background-color: #f4f1ec;
  margin: 0 auto;
  border: none;
  margin-bottom: 1rem;
  text-align: left;
  border-bottom: 4px solid grey;
  width: 60%;
}

.new-tweet button {
  font-family: "Bungee";
  background-color: #4056a1;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  border-radius: 0.2rem;
  display: inline-block;
  text-align: left;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

.counter.invalid {
  color: red;
}
